<div class="login-container">
  <h2 class="login-title">Bienvenido</h2>
  <p class="login-subtitle">Inicia sesión para continuar</p>

  <dx-form [formData]="loginModel" [colCount]="1" labelLocation="top">

  <dxi-item 
    dataField="username" 
    [isRequired]="true" 
    editorType="dxTextBox"
    [editorOptions]="{ mode: 'text', placeholder: 'Correo electrónico', stylingMode: 'outlined', showClearButton: true }">
    <dxo-label text="Correo electrónico"></dxo-label>
  </dxi-item>

  <dxi-item 
    dataField="password" 
    [isRequired]="true" 
    editorType="dxTextBox"
    [editorOptions]="{ mode: 'password', placeholder: 'Contraseña', stylingMode: 'outlined', showClearButton: true }">
    <dxo-label text="Contraseña"></dxo-label>
  </dxi-item>

  <dxi-item>
    <dx-button 
      text="Iniciar sesión" 
      type="success" 
      width="100%" 
      stylingMode="contained" 
      (onClick)="loginByEmail()">
    </dx-button>
  </dxi-item>

</dx-form>
</div>
