<div class="page-container">
  <p>
    <a class="btn btn-success" routerLink="/expense-type-create">Nuevo tipo de gasto</a>
  </p>
  <h2 class="page-title">Lista de Items</h2>
  <div class="item-list">
    <div *ngFor="let item of expenseTypes" class="item-card">
      <h3 class="item-name">{{ item.name }}</h3>
      <p class="item-description">{{ item.description }}</p>
      <p class="item-description">{{ item.code }}</p>
      <button class="btn btn-success" routerLink="/expense-type-update/{{item.id}}">Modificar</button>
      <button class="btn btn-success" (click)="deleteExpenseType(item.id)" >Borrar</button>
    </div>
  </div>
</div>
